@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
}

h3,
h4 {
  margin: 0;
}

body {
  background-image: url("../assets/img/bg-pattern-top-mobile.svg"),
    url("../assets/img/bg-pattern-bottom-mobile.svg");
  background-size: contain;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  padding: 0.5em;
}

.header {
  display: grid;
  text-align: center;
}

.header-left {
  margin-top: 3rem;
}

.header-left__h1 {
  color: var(--very-dark-magenta);
  margin: 0px auto;
  width: 90%;
}
.header-left__h2 {
  color: var(--dark-grayish-magenta);
  font-size: 1em;
  font-weight: 500;
}

.header-right {
  display: flex;
  flex-direction: column;
}

.rating-container {
  background-color: var(--light-grayish-magenta);
  border: 1px solid var(--light-grayish-magenta);
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.rating-img {
  line-height: 0;
  margin-top: 1em;
}

.rating-img__img {
  margin-left: 0.4em;
}

.rating-paragraph {
  font-size: 0.9em;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.cards {
  display: grid;
  margin-top: 2.2em;
}

.card {
  background-color: var(--very-dark-magenta);
  border-radius: 0.5em;
  color: var(--white);
  /* height: 300px; */
  padding: 2em;
  margin-top: 1em;
}

.card-header {
  align-items: center;
  display: flex;
}
.card-image {
  margin: 0;
}
.card-image__img {
  border-radius: 50%;
  max-width: 60%;
}

.card-names {
  font-size: 0.9em;
}
.card-names__verified {
  margin-top: 0.4em;
  color: var(--soft-pink);
}
.card-description {
  line-height: 25px;
  margin: 0;
  margin-top: 1.5em;
}
